################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/uffi.vcxproj.user
/uffi.sln
/x64
/ffi.dll
